AllowAgentForwarding no
AllowTcpForwarding no
AuthorizedKeysFile	.ssh/authorized_keys
ChrootDirectory /chroot
GatewayPorts no
PasswordAuthentication yes
PermitEmptyPasswords no
PermitRootLogin no
PermitTunnel no
X11Forwarding no
